

<p></p>
<center>

  <div class="form">
    <h3> Sign-up: </h3>
    <form action="/signup" method="POST">
      <p> <input type="text" name="username" id="username" placeholder="username"> </p>
      <p> <input type="text" name="email" id="email" placeholder="email"> </p>
      <p> <input type="text" name="password" id="password" placeholder="password"> </p>
      <input type="submit" value="submit">
    </form>
  </div>
</center>
