<br></br>
<center><h3>@<%=current_user.username%></h3></center>
<br></br>
<center>
	<% @posts.each do |post| %>
		<strong> location: <%= post.state %> </strong> <br></br>
		<%= post.content %>
		<br></br>
		--------------------
		<br> </br>
	<%end %>

</center>
