
<br></br>

<center>
	<% if flash.has?(:message) %>
	  <%= flash[:message] %>
	<% end %>
	
	<h4>logged in as: @<%=current_user.username%></h4>
	<h3>local events:</h3>
</center>

<br></br>
<center>
	<% @posts.each do |post| %>
		<div id="posts">
			<strong> location: <%= post.state %> </strong> <br></br>
			<%= post.content %>
		</div>

		<br> </br>
	<%end %>

</center>
