<center>
  <h3>Create post:</h3>
    <form id="create_post" action='/posts' method="POST">
      <p><textarea name="content" form="create_post" rows="4" cols="50"></textarea></p>
      <input type="submit" id="submit" name="submit" value="submit">
    </form>

</center>