<center>
  </br>
  <% @posts.each do |post| %>
		<div id="posts">
			<strong> location: <%= post.state %> </strong></br>
			<%= post.content %></br>
      <a href="/posts/<%=post.id%>/edit">edit</a> <span class="bar"> | </span>
      <a href="/posts/<%=post.id%>/delete">delete</a>
    </div>
    </br>
  <% end %>
</center>
