
<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/style-sheet.css') %>" rel="stylesheet">
  <link rel="icon" href="/public/homepage-pic.jpg" />
  <%= yield(:header) if @content_for_header %>
</head>
<body>

<center>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

  <h1>Local Events</h1>
  <h4>(you might've not heard about)</h4>
  <h3>share what you know, find what you don't</h3>
  <p></p>
  <div>
    <a href="/">home</a> <span class="bar"> | </span>
    <% if !logged_in? %>
     <a href="/login">login</a> <span class="bar"> | </span> <a href="/signup">signup</a>
    <% else %>
      <a href="/create_post">create post</a> <span class="bar"> | </span>
      <a href="/edit_post">my posts</a> <span class="bar"> | </span>
      <a href="/posts">all posts</a> <span class="bar"> | </span>
      <a href="/logout">logout</a>
    <% end %>
  </div>
</center>

<%= yield %>

</body>
</html>
